{{define "navbar"}}
    <div class="col-lg-7 pr-0">
        <ul class="nav navbar-nav center_nav pull-right">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Shop</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/category">Shop Category</a>
                    </li>
                    {{/*                <li class="nav-item">*/}}
                    {{/*                    <a class="nav-link" href="item_io/single-product.html">Product Details</a>*/}}
                    {{/*                </li>*/}}
                    {{/*                <li class="nav-item">*/}}
                    {{/*                    <a class="nav-link" href="checkout.html">Product Checkout</a>*/}}
                    {{/*                </li>*/}}
                    <li class="nav-item">
                        <a class="nav-link" href="/order/order/readCard">Shopping Cart</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item submenu dropdown ">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">{{if not .User.Name}}User {{else}} {{.User.Name}} {{end}}</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" {{if .Manager}}href="/user/managementwelcom"
                           {{end}}{{if not .MyUser.User}}href="/user/login" {{else}} href="/customer/profile"{{end}}>{{if not .MyUser.User}}Login {{else}} Profile{{end}}</a>
                    </li>
                    {{if .MyUser.User}}
                        <li class="nav-item">
                            <a class="nav-link" href="/user/logout">Logout</a>
                        </li>
                    {{end}}

                    {{/*                <li class="nav-item">*/}}
                    {{/*                    <a class="nav-link" href="/user/management">Manager</a>*/}}
                    {{/*                </li>*/}}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer/contact">Contact</a>
            </li>
        </ul>
    </div>
{{end}}